.header__lang-link {
  color: #fff;
  font-weight: 400px;
  font-size: 24px;
  line-height: 28px;
  transition: opacity 0.6s linear;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 500px) {
.header__lang-link {
  font-size: 18px;
}
}

