.cover__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../../images/cover-trains.jpg);
  max-width: 1184px;
  min-height: 740px;
  background-size: cover;
  justify-content: center;
  position: relative;
  text-decoration: none;
  z-index: 3;
  color: #fff;
}

.cover__link::before {
  display: block;
  position: absolute;
  opacity: 0.3;
  background-color: rgba(42, 44, 47, 0.3);
  content: '';
  width: 100%;
  height: 100%;
  transition: opacity 0.3s linear;
  z-index: -1;
}

.cover__link:hover::before {
  opacity: 0.8;
}

