.footer__link {
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  transition: opacity 0.5s linear;
  margin-right: 18px;
}

/*.footer__link:hover {
  opacity 0.5s
}
*/
