.place__paragraph {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  color: #fff;
}

.place__paragraph:nth-child(1) {
  margin-bottom: 26px;
}

@media screen and (max-width: 1023px) {
.place__paragraph {
  font-style: normal;
  font-size: 16px;
  line-height: 1.63;
}
}

@media screen and (max-width: 767) {
.place__paragraph {
  max-width: 288px;
  padding: 0 16px 0 16px;
  }
}
