.intro {
  max-width: 690px;
  max-height: 429px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 92px;
  margin-left: 206px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
.intro {
  max-width: 928px;
  margin-left: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
.intro {
  margin-left: 24px;
  margin-top: 88px;
  margin-right: 24px;
}
}

@media screen and (max-width: 767px) {
.intro {
  margin-top: 64px;
  margin-left: 16px;
  margin-right: 16px;
}
}

