.lead__caption {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 0;
  margin-top: 8px;
  padding: 0;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
.lead__caption {
  padding-left: 24px;

}
}

@media screen and (max-width: 767px) {
.lead__caption {
  padding-left: 16px;
}
}
